{{ partial "header.html" . }}

<h1>opentxs-protocol</h1>
<p>Documentation for the current opentxs protocol. The transport is described
in <a href="Transport.html">Transport</a>.</p>

<h2>Document Types</h2>
<p>The directory <tt>/doctypes/</tt> contains descriptions of the XML structures
that are created by <tt>opentxs</tt>. The format is described in
<a href="DocumentTypes.html">Document Types</a>.</p>

{{ range .Data.Pages.ByTitle }}
  {{ if eq .Type "doctypes"}}
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  {{ end }}
{{ end }}

<h2>Description of Implementation</h2>
<p>The files in the directory <tt>/docs/</tt> summarize the parsing, serialization and transport methods in <tt>opentxs</tt>.</p>
{{ range .Data.Pages.ByTitle }}
  {{ if eq .Type "docs"}}
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  {{ end }}
{{ end }}

<h2>Monetas Enhancement Proposals</h2>
<p>Significant changes to the code follow a process using MEP documents
(Monetas Enhancement Proposal), stored in the <tt>/mep/</tt> directory.</p>
{{ range .Data.Pages.ByTitle }}
  {{ if eq .Type "mep"}}
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  {{ end }}
{{ end }}

{{/* TODO: not working on specs for now, uncomment later
<h2>Specifications</h2>
{{ range .Data.Pages.ByTitle }}
  {{ if eq .Type "spec" }}
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  {{ end }}
{{ end }}
*/}}

{{ partial "footer.html" . }}
