{{ partial "header.html" . }}

<h1>protocol-docs</h1>
<p>Documentation for the opentxs protocol.

<h1>Document Types</h1>
<p>The directory <tt>/doctypes/</tt> contains descriptions of the XML structures.
The format is described in <a href="DocumentTypes.html">Document Types</a>.</p>
{{ range .Data.Pages.ByTitle }}
  {{ if eq .Type "doctypes"}}
    {{ .Content }}
  {{ end }}
{{ end }}

<h1>Encoding</h1>
<p>The encoding is detailed in the <tt>/encoding/</tt> directory.</p>
{{ range .Data.Pages.ByTitle }}
  {{ if eq .Type "encoding"}}
    {{ .Content }}
  {{ end }}
{{ end }}

<h1>Monetas Enhancement Proposals</h1>
<p>Significant changes to the code follow a process using MEP documents
(Monetas Enhancement Proposal), stored in the <tt>/mep/</tt> directory.</p>
{{ range .Data.Pages.ByTitle }}
  {{ if eq .Type "mep"}}
    {{ .Content }}
  {{ end }}
{{ end }}

<h1>Other documentation</h1>
<p>The requirements for the document format and protocol are described in
<a href="Requirements.html">Requirements</a>.</p>
<p>The transport is described in <a href="Transport.html">Transport</a>.</p>
<p>Transfers are described in <a href="transfer.html">transfer</a>.</p>

{{ partial "footer.html" . }}
